@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto';
}
/*sec 2-1*/
.section-2-1 {
    padding: 44px 0px;
    background: #f9f9f9;
    border-bottom: 1px solid #e1e1e1;
    width: 100%;
    display:block;
  }
    
  .section-2-1 h2 {
    font-size: 30px;
    color: #4f4f4f;
    
  }
   /*section-2-2*/
   .dashboard {
    max-width: 1100px;
    height: 100%;
    overflow: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
   
}
.leftsidebar{
    min-height: 100vh;
    background-color: #1d7a8c;
    min-width:260px ;
}

.leftsidebar a {
   
    background-clip: padding-box;
}

.leftsidebar .nav-link {
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 18px 15px;
    background: #1d7a8c;
    color: #FFFFFF;
    min-width: 260px;
    
}

.nav-pills .nav-link.active{
    color: #fff;
    background-color: #146371;
}
.export{
    background:#146371;
    color: #ffffff ;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    padding: 5px 10px 4px 9px;
    font-size: 13px;
    margin-bottom: 6px;
}
.serhist{
    font-weight: bold;
    font-size: 22px;
    color:#646464;
    
    padding-left:15px;

}
.status-completed {
    background:#67b644;
    color: #ffffff ;
    border: 1px solid #e1e1e1;
   
    padding: 5px 4px 4px 9px;
    font-size: 13px;
    
}
.status-cancelled{
    background:#ff6b6b;
    color: #ffffff ;
    border: 1px solid #e1e1e1;
    padding: 5px 4px 4px 9px;
    font-size: 13px;
   
}
.status-pending{
    background:#bdfc0f;
    color: #ffffff ;
    border: 1px solid #e1e1e1;
    padding: 5px 10px 4px 9px;
    font-size: 13px;
    cursor: pointer;
}
.rate-sp{
    background-color: #0c7286;
    color:#ffff;
    border: none;
    padding: 11px 9px 13px 13px;
    border-radius: 20px;
    font-size:14px;
    cursor:point;
}
.reschedule{
    background-color: #0c7286;
    color:#ffff;
    border: none;
    padding: 11px 9px 13px 13px;
    border-radius: 20px;
    font-size:14px;
    cursor:point;
}
.cancel{
    background-color: #ca2020;
    color:#ffff;
    border: none;
    padding: 11px 9px 13px 13px;
    border-radius: 20px;
    font-size:14px;
    cursor:point;
}
.rt{
    margin-right: -20px;
}